

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ahrvo DEXX Kyc App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>   We Provide Technology Consulting through Process Design & Implementation, Workflow Optimization, & Automation.</p>
    </ion-card-content>
  </ion-card>


  <ion-row  class="startRow" (click)="StartKyc_()">
    <ion-col  >
        <p class="sub_title">
         Start with your Kyc
          </p>
      <!-- <img  src="../../assets/start.png" alt="start_application" class="start-png"> -->
    </ion-col>
</ion-row>

<ion-row  class="Count_row" >
  <ion-col  >
    <p class="timer_text">Ea ius adhuc dolore minimum. Rebum dignissim</p>
    <p class="timer_text">ਨਹੀ ! ਬਜਾਇ ਕਿ ਏਹੁ ਵਰਤਮਾਨ ਪੰਜਾਬੀ ਦੇ ਸ਼ਬਦਾਂ ਦੀ ਹੇਰ-ਫ਼ੇਰ ਹੈ </p>
    
    <p id="demo" class="countdown_timer"></p>
  </ion-col>
</ion-row>

<ion-row  class="ImgBanner">
    <ion-col  >
      <img  src="../../assets/verification_system.png" alt="verification" class="system-png">
    </ion-col>
</ion-row>






  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label> Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
 
  </ion-list> -->

    <ion-grid>
      <ion-row class="row_ico_icons">
        <ion-col col-lg-3 col-sm-6 col-6>
          <div class="rating-item-ahrvo mb-3">
            <a href="https://icomarks.com/ico/ahrvodeex" target="_blank" rel="nofollow" title="AhrvoDEEX ICO"><img border="0" src="https://icomarks.com/widget/a/ahrvodeex/square.svg" class="img_ico"   alt="AhrvoDEEX ICO Rating"></a>
        </div>
        </ion-col>
        <ion-col col-lg-3 col-sm-6 col-6>
          <div class="rating-item-ahrvo">
            <a href="https://icobench.com/ico/ahrvodeex" target="_blank" rel="nofollow" title="AhrvoDEEX on ICObench"><img border="0" src="https://icobench.com/rated/ahrvodeex?shape=square&amp;size=m"  alt="AhrvoDEEX ICO rating" class="img_ico" ></a>
        </div>
        </ion-col>
        <ion-col col-lg-3 col-sm-6 col-6>
          <div class="rating-item-ahrvo">
            <a href="https://www.trackico.io/ico/ahrvodeex/" target="_blank" title="AhrvoDEEX on TrackICO">
                <img border="0" src="https://www.trackico.io/widget/square/ahrvodeex/205.png" class="img_ico" alt="AhrvoDEEX TrackICO rating">
            </a>
        </div>
        </ion-col>
        <ion-col col-lg-3 col-sm-6 col-6>
          <div class="rating-item-ahrvo">
            <a href="https://icotop.io/project/ahrvodeex" target="_blank"><img src="../../assets/ico.png" alt="" class="img_ico" ></a>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>


 





  <ion-row>

  <ion-col class="CustomLinks">
      <div class="bg">
        <ul class="Ul_custom">
       
        <li class="link__" (click)="Website()">
          Website
        </li>

        <li class="link__" (click)="TermsofUse()">
          Terms
        </li>

        <li class="link__" (click)="PrivacyPolicy()">
          Policy
        </li>

        <li class="link__" (click)="DataProtectionPolicy()">
          Protection
        </li>
      </ul>
      </div>
    </ion-col>

    <ion-col class="CustomLinks">
      <div class="bg">
        <ul class="Ul_custom">
       
        <li class="link__" (click)="Website()">
          Website
        </li>

        <li class="link__" (click)="TermsofUse()">
          Terms
        </li>

        <li class="link__" (click)="PrivacyPolicy()">
          Policy
        </li>

        <li class="link__" (click)="DataProtectionPolicy()">
          Protection
        </li>
      </ul>
      </div>
    </ion-col>

    <ion-col class="CustomLinks">
      <div class="bg">
        <ul class="Ul_custom">
       
        <li class="link__" (click)="Website()">
          Website
        </li>

        <li class="link__" (click)="TermsofUse()">
          Terms
        </li>

        <li class="link__" (click)="PrivacyPolicy()">
          Policy
        </li>

        <li class="link__" (click)="DataProtectionPolicy()">
          Protection
        </li>
      </ul>
      </div>
    </ion-col>

  </ion-row>

  <ion-row class="customFooter">


    <ion-col>
      <p class="About">Social Links</p>
      <div class="bg">
        <div class="icons__">
          <img (click)="followFb()" src="../../assets/fb_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="followFb()" src="../../assets/google_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="LinkedIn()" src="../../assets/linkedin_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Twitter()" src="../../assets/twitter_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Instagram()" src="../../assets/insta_icon.png" class="icon_" alt="social_media_icon">

        </div>
      </div>
    </ion-col>

    <ion-col>

      <p class="About">Meet</p>
      <div class="bg">
        <img (click)="Zoom()" src="../../assets/zoom_icon.png" class="icon_" alt="social_media_icon">
        <img (click)="Calendly()" src="../../assets/calendy_icon.png" class="icon_" alt="social_media_icon">
        <img (click)="Reddit()" src="../../assets/reddit_icon.png" class="icon_" alt="social_media_icon">
        <img (click)="Telegram()" src="../../assets/telegram_icon.png" class="icon_" alt="social_media_icon">
        <img (click)="Medium()" src="../../assets/medium_icon.png" class="icon_" alt="social_media_icon">
      </div>
    </ion-col>

  </ion-row>


  <ion-item (click)="logout()">
      <ion-icon slot="start" color="medium" name="log-out" class="logout"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>




  <!-- Placeholder –
  Placeholder –
  Placeholder –
  Placeholder –
  Placeholder – -->

</ion-content>