

<ion-header>
  <ion-toolbar>
     
  
    <ion-title>
      <p>Dashboard</p>
  </ion-title>

 

  <ion-buttons slot="end">

    <button mat-button [matMenuTriggerFor]="menu">
        <ion-icon ios="ios-apps" md="md-apps"  class="MenuIcn"></ion-icon>

    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <ion-icon name="person"></ion-icon>
      </button>
  
      <button mat-menu-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>

    </mat-menu>
  </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
    <div id="particles-js"></div>

  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ubuntu Kyc!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>   We Provide Technology Consulting through Process Design & Implementation, Workflow Optimization, & Automation.</p>
    </ion-card-content>
  </ion-card>

    <ion-list lines="none">
  
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label> Account</ion-label>
    </ion-item>
    <ion-item (click)="StartKyc_()">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>  Kyc Application</ion-label>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>  Buy Token</ion-label>
    </ion-item>

    <ion-item (click)="logout()">
      <ion-icon slot="start" color="medium" name="log-out" class="logout"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
 
  </ion-list> 



<ion-row  class="Count_row" >
  <ion-col  >
    <p class="timer_text">Thank you for showing your support of the Ubuntu Project and your interest in the Ubuntu Token! You can make contributions to receive RVO coins in the 'Buy Coin' section. The Pre ICO Sale begins in 
      
    </p>
    <p id="demo" class="countdown_timer"></p>
    
    <p class="Inn">Please complete the KYC Process ASAP to avoid any delays. Make sure to include a sel}e (shoulders and above with your head centered in the image) with your identi}cation clearly showing as well as clear images of your identi}cation (front and back, except for Passports) so that the KYC Process can be completed. Please check the status of your KYC in order to con}rm that it has been veri}ed. If you have any question, please contact our support team at info@leruths.io with the subject line 'Ubuntu: ICO Support'.</p>
    <p class="timer_text"></p>
    
   
  </ion-col>
</ion-row>

<ion-row  class="ImgBanner">
    <ion-col  >
      <img  src="../../assets/verification_system.png" alt="verification" class="system-png">
    </ion-col>
</ion-row>

<ion-row  class="ImgBanner">
    <ion-col  >
      <img  src="../../assets/tokenInfo.png" alt="token-info" class="system-png">
    </ion-col>
</ion-row>








    


  <ion-row>

  <ion-col class="CustomLinks">
      <div class="bg">
        <ul class="Ul_custom">
       
        <li class="link__" (click)="Website()">
          Website
        </li>

        <li class="link__" (click)="TermsofUse()">
          Terms
        </li>

        <li class="link__" (click)="PrivacyPolicy()">
          Policy
        </li>

        <li class="link__" (click)="DataProtectionPolicy()">
          Protection
        </li>
      </ul>
      </div>
    </ion-col>

    <ion-col class="CustomLinks">
      <div class="bg">
        <ul class="Ul_custom">
       
        <li class="link__" (click)="Website()">
          Website
        </li>

        <li class="link__" (click)="TermsofUse()">
          Terms
        </li>

        <li class="link__" (click)="PrivacyPolicy()">
          Policy
        </li>

        <li class="link__" (click)="DataProtectionPolicy()">
          Protection
        </li>
      </ul>
      </div>
    </ion-col>

    <ion-col class="CustomLinks">
      <div class="bg">
        <ul class="Ul_custom">
       
        <li class="link__" (click)="Website()">
          Website
        </li>

        <li class="link__" (click)="TermsofUse()">
          Terms
        </li>

        <li class="link__" (click)="PrivacyPolicy()">
          Policy
        </li>

        <li class="link__" (click)="DataProtectionPolicy()">
          Protection
        </li>
      </ul>
      </div>
    </ion-col>

  </ion-row>

  <ion-row class="customFooter">


    <ion-col>
      <p class="About">Social Links</p>
      <div class="bg">
        <div class="icons__">
          <img (click)="followFb()" src="../../assets/fb_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="followFb()" src="../../assets/google_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="LinkedIn()" src="../../assets/linkedin_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Twitter()" src="../../assets/twitter_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Instagram()" src="../../assets/insta_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Reddit()" src="../../assets/reddit_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Telegram()" src="../../assets/telegram_icon.png" class="icon_" alt="social_media_icon">
          <img (click)="Medium()" src="../../assets/medium_icon.png" class="icon_" alt="social_media_icon">
       
        </div>
      </div>
    </ion-col>

    <ion-col>

      <p class="About">Meet Us</p>
      <div class="bg">
          <img (click)="Zoom()" src="../../assets/zoom_icon.png" class="icon_" alt="social_media_icon">
        <img (click)="Calendly()" src="../../assets/calendy_icon.png" class="icon_" alt="social_media_icon">
     
     </div>
    </ion-col>

  </ion-row>







  <!-- Placeholder –
  Placeholder –
  Placeholder –
  Placeholder –
  Placeholder – -->

</ion-content>